@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-bg-color: #121212;
}

body {
    background-color: var(--main-bg-color);
    color: white;
}

.no-background {
    background: none !important;
}

.dropdown-enter {
    opacity: 0;
    transform: translateY(-10%);
  }
  
  .dropdown-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .dropdown-exit {
    opacity: 1;
  }
  
  .dropdown-exit-active {
    opacity: 0;
    transform: translateY(-10%);
    transition: opacity 300ms, transform 300ms;
  }
  
  